.submit-travel-form{
    background:none;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 3rem;
    box-shadow: none;
    backdrop-filter: none;
    border: 0.1rem solid black;
    width: fit-content;
    margin-bottom: 4rem;
}

.submit-travel-form-title,.submit-vehicle-form-title,.button-submit-travel-form{
    grid-column: span 3;
    justify-self: center;
}

.submit-travel-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-travel-form{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.407);
}


