footer a {
    color: black;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    margin-top: 50px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    left: 50%;
    bottom: 0px;
}