@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --background-nav: #3C6E71;
  --white-text:#FAFAFA;
  --body-background-color:#FAFAFA;
  --button-color: #284B63;
  --button-hover-color: #3D7398;
  --font-color: #353535;
  --button-update-color: #C60B0B;
  --font-site: "Poppins", sans-serif;
  --background-image-signup: url('D:\Projet\CoVoyageur_M2i\Co_Voyageur\co_voyageur.client\public\Images\backgroundSignIn.png');
  --background-image-login: url('D:\Projet\CoVoyageur_M2i\Co_Voyageur\co_voyageur.client\public\Images\backgroundLogIn.png');
  --background-image-travel: url('D:\Projet\CoVoyageur_M2i\Co_Voyageur\co_voyageur.client\public\Images\backgroundSubmitTravel.jpg');
  --general-transition: all 0.3s ease-in-out;
}

body,html{
  margin: 0;
  font-family: var(--font-site);
  background-color: var(--body-background-color);
}

a{
  font-size: large;
  text-decoration: none;
  color: var(--white-text);
  transition: var(--general-transition);
}


a:hover{
  text-decoration: underline;
  font-size: larger;
}

button{
  font-size: large;
  background-color: var(--button-color);
  color: var(--white-text);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: var(--general-transition);
}

button:hover{
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.hero{
width: 100%;
height: 250px;
}