@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --background-nav: #3C6E71;
  --white-text:#FAFAFA;
  --button-color: #284B63;
  --button-hover-color: #3D7398;
  --font-color: #353535;
  --button-update-color: #C60B0B;
  --font-site: "Poppins", sans-serif;
  --background-image-signup: url('D:\Projet\CoVoyageur_M2i\Co_Voyageur\co_voyageur.client\public\Images\backgroundSignIn.png');
  --background-image-login: url('D:\Projet\CoVoyageur_M2i\Co_Voyageur\co_voyageur.client\public\Images\backgroundLogIn.png');
  --background-image-travel: url('D:\Projet\CoVoyageur_M2i\Co_Voyageur\co_voyageur.client\public\Images\backgroundSubmitTravel.jpg');
}

body,html{
  margin: 0;
  font-family: var(--font-site);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

a{
  text-decoration: none;
  color: var(--white-text);
  font-size: 24px;
  font-family: var(--font-site);
}

h2,h3,h4,h5,h6{
  font-family: var(--font-site);
  color: var(--font-color);
  font-weight: 400;
}

h1{
  font-family: var(--font-site);
  color: var(--white-text);
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.button-submit-style{
  background-color: var(--button-color);
  color: var(--white-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-site);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-submit-style:hover{
  background-color: var(--button-hover-color);
  scale: 1.05;
}

.form-style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  width: 30%;
  >input{
    width: 50%;
    height: 3rem;
  }
}

.section-form-style{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 90vh;
}

.section-background-style-signup{
  background-image:var(--background-image-signup);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.section-background-style-login{
  background-image: var(--background-image-login);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.section-background-style-travel{
  background-image: var(--background-image-travel);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.go-to-login-page, .go-to-signin-page{
  color: var(--white-text);
  font-size: 1rem;
  font-family: var(--font-site);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}

.go-to-login-page:hover, .go-to-signin-page:hover{
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  
  .form-style{
    width: 50%;
    text-align: center;
    >input{
      width: 80%;
      height: 2.5rem;
    }
  }
}