nav{
display: flex;
align-items: center;
background-color: var(--background-nav);
padding: 1.5rem;

}

.navbar-logo {
    flex: 0;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    flex:1;
    align-items: center;
    gap: 1rem;
}

.navbar-account{
    cursor: pointer;
}