nav{
display: flex;
align-items: center;
background-color: var(--background-nav);
padding: 1.5rem;

}

.navbar-logo {
    flex: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    flex:1;
    align-items: center;
    gap: 1rem;
    >a:hover{
        text-decoration: underline;
     }
}


.navbar-account{
    cursor: pointer;
}

.navbar-logo{
    cursor: pointer;
}

.navbar-logo:hover{
    scale: 1.05;
}