form{
    width: 70vh;
    height: 80%;
}

.signIn-form {
    background-image: url('/Images/backgroundSignIn.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.error{
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}