
.login-form {
    background-image: url('/Images/backgroundLogIn.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

h1{
    color: var(--white-text);
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vh;
    height: 60vh;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    gap: 2rem;
    >button{
        width: 30%;
        height: 2.5rem;
        border-radius: 10px;
        border: none;
        background-color: var(--button-color);
        color: var(--white-text);
        font-size: 1.2rem;
    }
    >a{
        color: var(--white-text);
        font-size: 1.2rem;
        text-decoration: none;
    }
    >a:hover{
        text-decoration: underline;
    }
}

input{
    height: 3rem;
    opacity: 1;
    font-size: 16px;
    border-radius: 0.5rem;
    border: none;
    padding-left: 1rem;
}