section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    
}
.search-bar-container{
    height: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    padding-left: 1rem;
    >button{
        height: 100%;
        width: 100%;
        border-radius: 0 20px 20px 0;
        border: none;
        background-color: var(--button-color);
        color: var(--white-text);
        transition: all 0.2s ease-in-out;
    }
    >button:hover{
        background-color: #3D7398;
        cursor: pointer;
    }
    >button:active{
        background-color: #3D7398;
        transform: scale(0.8);
    }
}

input{
    height: 2rem;
    opacity: 1;
    font-size: 16px;
    border-radius: 0.5rem;
}