.background-blob{
    >#Blob-Background-image1{
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: -1;
        width: 30%;
    }
    >#Blob-Background-image2{
        position: absolute;
        top: 75%;
        left: 65%;
        z-index: -1;
        width: 30%;
    }
}